app = 'mepunity-back'
primary_region = 'fra'
console_command = '/code/manage.py shell'

[build]

[deploy]
  release_command = "sh -c 'python manage.py migrate --noinput && python manage.py collectstatic --noinput'"

[env]
  PORT = '8000'

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1

[[statics]]
  guest_path = '/code/staticfiles'
  url_prefix = '/static/'

[[statics]]
  guest_path = '/code/media'
  url_prefix = '/media/'

[[mounts]]
  source = 'media_vol'
  destination = '/code/media'