# fly.toml app configuration file generated for mepunity-back on 2025-12-10T16:09:00Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'mepunity-back'
primary_region = 'fra'
console_command = '/code/manage.py shell'

[build]

[deploy]
  release_command = 'python manage.py collectstatic --noinput && python manage.py migrate --noinput'

[env]
  PORT = '8000'

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256

[[statics]]
  guest_path = '/code/staticfiles'
  url_prefix = '/static/'

[[mounts]]
  source = 'media_vol'
  destination = '/code/media'

[deploy]
  release_command = "/code/release.sh"