<!DOCTYPE html>
<html>
<head>
    <title> Email Confirmation</title>
</head>
<body style="display: flex; justify-content: center; align-items: center;   height: 600px; font-family: Arial, sans-serif; background-color: #292929; margin: 0; padding: 0;">
    <div style="margin-bottom: 30px; width: 100%; max-width: 600px; margin: 0 auto; background-color: #ffffff; padding: 20px; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
        <div style="display: flex;  justify-content: center;">

            <img src="https://mep-unity-bucket.s3.eu-central-1.amazonaws.com/media/company_logo/mepunity_logo.png" alt="MepUnity" style="width: 100px; height: auto;">
        </div>
        <div style="text-align: center; padding: 10px 0; background-color: #007bff; color: #ffffff; border-radius: 8px 8px 0 0;">
            <h1>MepUnity Email Confirmation</h1>
        </div>
        <div style="padding: 20px;">
            <p>Hello !!</p>
            <p>Thank you for registering on MepUnity. Please click the link below to confirm your email address:</p>
            <p><a href="{{ activate_url }}" style="color: #007bff; text-decoration: none;">Confirm Email</a></p>
        </div>
        <div style="text-align: center; padding: 10px 0; font-size: 12px; color: #777777;">
            <p>&copy; 2024 MepUnity. All rights reserved.</p>
        </div>
        <div style="height: 10px; " ></div>
    </div>
</body>
</html>